footer 
    div.conFooter 
        div.box1
            h2 Shopping 
            p.sub Subscribe 
            p.offer get 10% off your frist order
            div.conInput
                input(type="text",placeholder="Enter Your Email")
                i.fa-regular.fa-circle-right

        div.box2
            h2 Support
            p 111 Bijoy sarani, Dhaka, DH 1515, Banglanesh 
            p exclusive@gmail.com
            p +88015-88888-9999

        div.box3
            h2 Account 
            a(href="#") My Account
            a(href="#") Login / Register
            a(href="#") Cart
            a(href="/products") Shop 

        div.box4
            h2 Quick Link 
            a(href="#") Privacy policy
            a(href="#") Team Of Use
            a(href="#") FAQ
            a(href="#") Contact 
    div.crt Copyright &copy; Mohamed 2002, All right reservrd
