div.fristHeader 
    p Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
    div.lang 
        p English 
        i.fa-solid.fa-chevron-down
nav
    div.secondHeader
        a(href="/").logo Shopinng 
        ul.links 
            li 
                a(href="/home") Home
            li 
                a(href="/products") Products
            li 
                a(href="/about") About 
            li.singIn 
                a(href="/register") Sing Up 
            li.profile 
                a(href="/profile") Profile
            li.logout  
                button  logout
        div 
            div.search
                ul.productsSearch 
                input(type="text",placeholder="We have 1000 Products..")
                i.fa-solid.fa-magnifying-glass
            a#cartLink(href="/cart")  
                .counter  
                i.fa-solid.fa-cart-plus