@import "../utils/imports";
@import "../component/card";

body{
    .con{
        width: 80%;
        margin: auto;
        min-height: 70vh;
        padding: 40px 0px 20px;
        
        .conBoxs{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            @include MedaiQuaery(900px){
                flex-wrap: nowrap;
            }
            gap: 30px;
            margin:40px 0 0px;
            .conbox12{
                max-width: 450px;
                display: flex;
                justify-content: space-between;
                gap: 20px;
                .box1{
                    max-width:23%;
                    .image{
                        text-align: center;
                        background-color: $BGImage;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        img{
                            width: 100%;
                            padding: 10px;
                            margin: auto;
                        }
                    }
                }
                .box2{
                    min-width: 65%;
                    flex-grow: 1;
                    img{
                        background-color: $BGImage;
                        border-radius: 5px;
                        width: 100%;
                    }
                }
            }
            .box3{
                min-width: 250px;
                h1{
                    font-size: 22px;
                }
                .rating{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin: 9px 0px;
                    .starts i{
                        color: $Colorstarts;
                        margin-right: 3px;
                    }
                }
                .conPrice{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    .newPrice{
                        font-size: 20px;
                        text-align: left;
                        color: $ColorRed;
                    }
                    .oldPrice{
                        font-size: 20px;
                        text-decoration: line-through;
                        color: #6d6c6c;
                    }
                }
                .desc{
                    max-width: 350px;
                    padding: 15px 0px;
                    border-bottom: 2px solid #a9a7a7;
                }
                .conBuy{
                    margin: 15px 0px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .quantity{
                        display: flex;
                        align-items: center;
                        .munis{
                            border: 1px solid $ColorBlack;
                            padding: 5px 10px;
                            background-color: $ColorWhite;
                            height: 30px;
                            transition: .5s;
                            cursor: pointer;
                            &:hover{
                                background-color: $ColorRed;
                                color: $ColorWhite;
                                border: 1px solid $ColorRed;
                            }
                        }
                        #conQuaiintity{
                            border: 1px solid $ColorBlack;
                            background-color: $ColorWhite;
                            height: 30px;
                            padding:5px 25px;
                        }
                        .plus{
                            @extend .munis
                        }
                    }
                    .btnBuy{
                        background-color: $ColorRed;
                        color: $ColorWhite;
                        border: 1px solid $ColorRed;
                        min-width: 180px;
                        border-radius: 5px;
                        padding: 7px 10px;
                        transition: .5s;
                        cursor: pointer;
                        &:hover{
                            background-color: $ColorWhite;
                            color: $ColorRed;
                        }
                        
                    }
                }
                .reviews{
                    h2{
                        font-size: 20px;
                        margin-bottom: 12px;
                    }
                    .conReviews{
                        height: 150px;
                        overflow-y: scroll;
                        .review{
                            background-color: $BGImage;
                            margin-bottom: 7px;
                            border-radius: 5px;
                            padding: 7px;
                            .header{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .name{
                                    font-size: 14px;
                                }
                                .date{
                                    font-size: 13px;
                                    color: #585757;
                                }
                            }
                            .comment{
                                margin: 15px 0px;
                                text-align: center;
                            }
                            .footer{
                                display: flex;
                                justify-content: space-between;
                                .conStars{
                                    i{
                                        color: $Colorstarts;
                                    }
                                }
                                .email{
                                    font-size: 13px;
                                    color: #585757;
                                }
                            }
                        }
                    }
                }
            }
        }
        .relateItem{
            margin:100px 0px 50px ;
            .conHeader{
                display: flex;
                align-items: center;
                gap: 15px;
                .side{
                    width: 15px;
                    height: 40px;
                    background-color: $ColorRed;
                    border-radius: 15px;
                }
                h2{
                    color: $ColorRed;
                    font-weight: bold;
                }
            }
            // cards
            
            .grid{
                display: grid;
                width: 100%;
                grid-template-columns: repeat(auto-fit,minmax(200px , 1fr));
                gap: 30px;
                margin: 10px 0px;
                position: relative;
                .seeMore{
                    padding: 10px ;
                    background-color: $ColorRed;
                    color: $ColorWhite;
                    position: absolute;
                    border: 2px solid $ColorRed;
                    border-radius: 10px;
                    top: -50px;
                    right: 10px;
                    cursor: pointer;
                    transition: .5s;
                    &:hover{
                        background-color: $ColorWhite;
                        border: 2px solid $ColorRed;
                        color: $ColorRed;
        
                    }
                }
                
            }
            
        }
    }
}