@import "../utils/imports";

body{
    min-height: 90vh;
    overflow-x: hidden;
    .conNavLinks{
        width: 85%;
        margin: 70px auto;
    }
    .section1{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        gap: 30px;
        margin: 90px 0px;
        @include MedaiQuaery($MDSecreen){
            flex-direction: row;
        }
        .text{
            width: 90%;
            margin: auto;
            @include MedaiQuaery($MDSecreen){
                width: 40%;
                margin: 0;
            }
            h1{
                letter-spacing: 5px;
                font-size: 40px;
                font-weight: normal;
            }
            p{
                &:first-of-type{
                    color: #646363;
                    margin: 20px 0px 15px;
                }
                &:nth-of-type(2){
                    color: #646363;
                }
            }
        }
        img{
            width: 90%;
            margin: auto;
            @include MedaiQuaery($MDSecreen){
                margin: 0;
                width: 50%;
                height: 500px;
            }
        }
    }
    .gridSecction{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        width: 80%;
        margin: auto;
        @include MedaiQuaery($MDSecreen){
            justify-content: space-between;
            gap: 20px;
        }
        .box{
            @include MedaiQuaery($MDSecreen){
                width: 220px;
            }
            width: 160px;
            padding: 20px;
            border: 1px solid #8d8d8d;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            transition: .5s;
            .iconCon{
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: #64636395;
                text-align: center;
                position: relative;
                transition: .5s;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 23px;
                    transform: translate(-50% , -50%);
                    width: 49px;
                    height: 49px;
                    padding: 10px;
                    background-color: black;
                    color: white;
                    border-radius: 50%;
                    padding: 10px;
                    border: 1px solid black;
                    transition: .5s;
                }
            }
            p{
                transition: .5s;
                &:nth-of-type(1){
                    font-size: 25px;
                    font-weight: bold;
                }
                &:nth-of-type(2){
                    font-weight: normal;
                    color: #3c3c3c;
                }
            }
            &:hover{
                border: none;
                background-color: $ColorRed;
                color: $ColorWhite;
                .iconCon{
                    background-color: rgba(255, 255, 255, 0.605);
                }
                .iconCon i{
                    background-color: white;
                    color: black;
                }
                p{
                    color: white;
                }
            }
        }
    }
    .gridPerons{
        width: 80%;
        margin: 90px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px 10px;
        flex-wrap: wrap;
        @include MedaiQuaery($MDSecreen){
            justify-content: space-between;
        }
        .box{
            width: 250px;
            @include MedaiQuaery($MDSecreen){
                width: 290px;
            }
            img{
                width: 100%;
                margin-bottom: 15px;
            }
            h3{
                font-size: 25px;
            }
            p{
                margin: 10px 0;
            }
            .icons{
                a{
                    margin-right: 12px;
                    color: black;
                    display: inline-block;
                    transition: .5s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .gridContact{
        width: 80%;
        margin: 0px auto 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        align-items: center;
        @include MedaiQuaery($MDSecreen){
            gap: 20px;
        }
        .box{
            width: 160px;
            @include MedaiQuaery($MDSecreen){
                width: 260px;
            }
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 15px;
            .iconCon{
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: #64636395;
                text-align: center;
                position: relative;
                transition: .5s;
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 23px;
                    transform: translate(-50% , -50%);
                    width: 49px;
                    height: 49px;
                    padding: 10px;
                    background-color: black;
                    color: white;
                    border-radius: 50%;
                    padding: 10px;
                    border: 1px solid black;
                    transition: .5s;
                }
            }
            h3{
                text-transform: uppercase;
            }
        }
    }
}