@import "../component/input";

.notification {
    position: fixed;
    top: 50px;
    right: 10px;
    min-width: 200px;
    padding: 0px 10px;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: .5s;
    button{
        border: 0;
        color: white;
        font-size: 25px;
        font-weight: bold;
        transition: .5s;
        cursor: pointer;
        &:hover{
            color: rgb(125, 4, 4);
            transform: rotate(180deg);
        }
    }
}
body{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .success{
        @extend .notification;
        background-color: green;
        p{
            font-size: 19px;
            text-align: center;
        }
        button{
            background-color: green;
            
        }
    }
    .error{
        @extend .notification;
        background-color: red;
        gap: 10px;
            p{
            font-size: 19px;
            text-align: center;
        }
        button{
            background-color: red;
        }
    }
    form{
        max-width: 500px;
        margin-right: 10px;
        h1{
            text-align: center;
            font-weight: bold;
        }
        .con{
            div{
                display: flex;
                flex-direction: column;
                margin-right: 10px;
                margin-top:14px;
                label{
                    font-size: 18px;
                }
                input {
                    width: 500px;
                
                    @media (max-width: 600px) { 
                        width: 300px;
                    }
                }
            }
        }
        .conBtn{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 10px;
            p{
                color: #5e5d5d;
                max-width: 170px;
                font-size: 18px;
                a{
                    color: black;
                    font-size: 19px;
                    font-weight: 700;
                    margin-left: 10px;
                }
            }
            #submit{
                
                max-width: 270px;
                padding: 10px;
                background-color: black;
                color: white;
                border: 2px solid black;
                transition: .5s;
                border-radius: 10px;
                cursor: pointer;
                margin-top: 15px;
                &:hover{
                    background-color: white;
                    color: black;
                }
            }
        }
        .forgetPass{
            text-align: center;
            margin: 30px 0px 20px;
            font-size: 19px;
            #forgetBtn{
                background-color: white;
                text-decoration: underline;
                border: none;
                outline: none;
                font-size: 20px;
                color: blueviolet;
                cursor: pointer;
            }
        }
    }
}
