input{
    border:none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    transition: .5s;
    outline: none;
    font-size: 18px;
    border: 2px solid black;
    &::placeholder{
        font-size: 16px;
    }
    &:hover{
        transform: scale(1.07);
    }
    &:focus{
        transform: scale(1.07);
    }
}